API_ID=123456
API_HASH=your_api_hash_here
BOT_TOKEN=your_bot_token_from_botfather
SESSION_STRING=your_session_string_here

MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net
DB_NAME=forwarder_bot

MAIN_CHANNEL=-1001234567890
ADMIN_IDS=123456789,987654321

MAX_FILES_PER_CHANNEL=2000
COPY_DELAY_SECONDS=10
TIMEZONE=Asia/Kolkata
